<a href="https://colab.research.google.com/github/tjschaeffer/IST210-Final-Project-Main/blob/master/GroupAssignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('ChickFilA') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Employees''')
connectionToDatabase.commit()

cursor.execute('''create table Employees (Employee_ID text PRIMARY KEY, Name text, Store_ID text, Role text, Wage text)''')
connectionToDatabase.commit()


cursor.execute('''drop table IF EXISTS Store''')
connectionToDatabase.commit()


cursor.execute('''create table Store (Store_ID text PRIMARY KEY, Location text, PhoneNum text)''')
connectionToDatabase.commit()


cursor.execute('''drop table IF EXISTS Transactions''')
connectionToDatabase.commit()


cursor.execute('''create table Transactions (Transaction_ID text PRIMARY KEY, Store_ID text, Product_ID text, DateTime text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Products''')
connectionToDatabase.commit()


cursor.execute('''create table Products (Product_ID text PRIMARY KEY, Name text, Cost real, Type text)''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into Employees values ('64280', 'John Smith', 'MA025', 'Cashier', 13.50)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Employees values ('82715', 'Chris Ryder', 'PA012', 'Manager', 30.00)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Employees values ('29617', 'Paige Hope', 'NJ081', 'Cashier', 13.50)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Employees values ('41826', 'Kayla Malo', 'MD014', 'Fryer', 13.50)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Employees values ('51892', 'Mike Ditela', 'OH032', 'Manager', 30.00)""" 
cursor.execute(insertStatement)

In [0]:
insertStatement =  """insert into Store values ('MA025', 'Marlborough, MA', '978-568-0657')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Store values ('PA012', 'Ambler, PA', '484-757-0568')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Store values ('NJ081', 'Princeton, NJ', '908-751-1290')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Store values ('MD014', 'Chevy Chase, MD', '301-996-0549')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Store values ('OH032', 'Akron, OH', '330-843-3467')""" 
cursor.execute(insertStatement)

In [0]:
insertStatement =  """insert into Transactions values ('01', 'MA025', '98723171', '2019-11-15 12:12:12')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('02', 'PA012', '83231231', '2019-11-15 12:12:20')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('03', 'NJ081', '75351143', '2019-11-15 12:12:23')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('04', 'MD014', '63532454', '2019-11-15 19:34:23')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Transactions values ('05', 'OH032', '55234231', '2019-11-15 19:34:25')""" 
cursor.execute(insertStatement)

In [0]:
insertStatement =  """insert into Products values ('98723171', 'Chicken Sandwich', 4.00, 'Entree')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Products values ('83231231', 'Fried Nuggets', 4.00, 'Entree')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Products values ('75351143', 'Grilled Nuggets', 4.60, 'Entree')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Products values ('63532454', 'Lemonade', 2.00, 'Drink')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Products values ('55234231', 'Waffle Fries', 2.00, 'Side')""" 
cursor.execute(insertStatement)

# ER Diagram

![alt text](https://raw.githubusercontent.com/tjschaeffer/IST210-Final-Project-Main/master/Group%20Assignment%202.png)

# Group Assignment 4

TJ Schaeffer, Anthony Tata and Brian Gilbride

Who is the manager at the Pennsylvania Chick-Fil-A?

In [0]:
cursor.execute('''select * from Employees where role = "Manager" and Store_ID like "PA%" limit 5;''')
for row in cursor.fetchall():
  print (row)

('82715', 'Chris Ryder', 'PA012', 'Manager', '30.0')

-Essentially, we've constructed a code that can identify who the manager is at specific Chick-Fil-A locations. This is useful because rather than sorting through lengthy sets of data, Chic-Fil-A could quickly figure out who manages each store. This could be useful in any type of "Store Lookup" type of scenario. Say a user needs to contact the manager of a specific location, they could utilize this tool.

What food items are above $3?

In [0]:
cursor.execute('''select * from Products where cost >= 3 limit 5;''')
for row in cursor.fetchall():
  print (row)

('98723171', 'Chicken Sandwich', 4.0, 'Entree')
('83231231', 'Fried Nuggets', 4.0, 'Entree')
('75351143', 'Grilled Nuggets', 4.6, 'Entree')

In this code, we've designed a way for users to sort all products sold from Chick-Fil-A by a price point. Specifically, with this, we evaluate all products over the price of 3 dollars. This could be useful when trying to distinguish a budget when purchasing different batches of Chick-Fil-A. For example, if you had a large catering order and wanted to know what products cost over $3, this tool could be utilized.

What is the total cost of all items found at Chick-Fil-A?

In [0]:
cursor.execute('''select sum(cost) from Products limit 5;''')
for row in cursor.fetchall():
  print (row)

(16.6,)

In this code, we've made it so that users can look up the total cost of all items found at Chick-Fil-A. This is practical because, in any type of inventory-type check, it's important to know how many products would be in stock at any given store. This is also useful for any type of financial summary data needed for annual reports.